<div *ngIf="showMsg">
    <p *ngFor="let msg of messages">
        {{msg}}
    </p>
</div>
<div class="container">
    <h4>Cabecera Facturación</h4>
    <div *ngIf="testFactura" class="abs-center">
        <form #invoiceForm="ngForm" class="border p-3 form">
            <label for="exampleFormControlInput1" class="form-label">Cliente: </label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="testFactura.idCliente" name="testCliente">
                <option selected>Seleccione un Cliente...</option>
                <option *ngFor="let testCliente of testClientes" [value]="testCliente.idCliente">
                    {{testCliente.identifiacion}} - {{testCliente.nombres}} {{testCliente.apellidos}}
                </option>
            </select>

            <label for="exampleFormControlInput1" class="form-label">Fecha Venta: </label>
            <label class="form-control" name="fechaVenta" id="fechaVenta">{{today | date:'dd-MM-yyyy hh:mm:ss'}}</label>
            <label for="exampleFormControlInput1" class="form-label">Valor Total: </label>
            <input readonly="true" class="form-control" type="number" name="valorTotal" id="valorTotal" placeholder="Valor Total" [(ngModel)]="testFactura.valorTotal" /><br/>
            <br/>
            <div>
                <h5>Adicionar un Detalle</h5>
                <form [formGroup]="formDetails" (ngSubmit)="addInvoiceDetails()" class="border p-3 form">
                    <mat-form-field>
                        <mat-label>Id Producto</mat-label>
                        <input class="form-control" type="number" formControlName="idProducto" matInput placeholder="Id del Producto" /><br/>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Cantidad</mat-label>
                        <input class="form-control" type="number" formControlName="cantidad" matInput placeholder="Ingrese la Cantidad" /><br/>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Valor Unidad</mat-label>
                        <input class="form-control" type="number" formControlName="valorUnidad" matInput placeholder="Valor Unitario" /><br/>
                    </mat-form-field>
                    <!--<mat-form-field>
                        <mat-label>Valor Total</mat-label>
                        <input readonly="true" class="form-control" type="number" formControlName="valorTotal" matInput placeholder="Valor Total" /><br/>
                    </mat-form-field>-->
                    <div>
                        <button type="submit" [disabled]="!formDetails.valid" mat-raised-button>+</button>
                    </div>
                </form>
                <div>
                    <h5>Detalle Facturación</h5>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Id Producto</th>
                            <th>Cantidad</th>
                            <th>Valor Unidad</th>
                            <th>Valor Total</th>
                        </tr>
                        <tr *ngFor="let item of testFacturaDetalles">
                            <td>{{item.idProducto}}</td>
                            <td>{{item.cantidad}}</td>
                            <td>{{item.valorUnidad}}</td>
                            <td>{{item.cantidad * item.valorUnidad}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div mat-dialog-actions>
                <table>
                    <td>
                        <button type="button" class="btn btn-outline-secondary" (click)="saveInvoice()" tabindex="0">Guardar</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary" routerLink="/test-factura-list" tabindex="0">Cancelar</button>
                    </td>
                </table>
            </div>
        </form>
    </div>
</div>