<div class="container">
    <h3>Facutas Generadas</h3>
    <div *ngIf="testFacturas">
        <h4>Total Facturas Generadas: {{testFacturas.length}}</h4>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id Factura</th>
                <th>Id Cliente</th>
                <th>Fecha Venta</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let factura of testFacturas">
                <td>{{factura.idFactura}}</td>
                <td>{{factura.idCliente}}</td>
                <td>{{factura.fechaVenta}}</td>
                <td>{{factura.valorTotal}}</td>
                <td>
                    <!--<a [routerLink]="['/test-factura-edit',test-factura.IdFactura]">Edit</a>
                <a (click)="delete(factura)">Delete</a>-->
                </td>
            </tr>
        </tbody>
    </table>
</div>